/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    z-index: 2;
}

.icon {
    position: relative;
    width: 95px;
    height: 45px;
}

.tuna-logo {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    margin-left: 20px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-menu ul li a:hover {
    color: gray;
}

h1,
.header-title {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Container do carrossel */
.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 50px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.caixa-regiao {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    flex: 0 0 calc(33.33% - 20px);
    min-width: 250px;
}

.regiao-header {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    background-color: rgb(49, 179, 78);
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
    text-align: center;
}

.regiao-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.estado {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    font-size: 16px;
}

.estado:last-child {
    border-bottom: none;
}

/* Botões de navegação do carrossel */
button.carousel-prev,
button.carousel-next {
    background-color: black;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container:hover button.carousel-prev,
.carousel-container:hover button.carousel-next {
    opacity: 1;
}

button.carousel-prev {
    left: 10px;
}

button.carousel-next {
    right: 10px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 10; /* Forçando o sidebar a sobrepor os slides */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.menu-toggle span {
    color: #333;
}

/* Responsividade */

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .sidebar.active {
        left: 0;
    }

    .caixa-regiao {
        flex: 0 0 calc(50% - 20px);
    }

    h1,
    .header-title {
        font-size: 2rem;
    }

    .nav-menu ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .caixa-regiao {
        flex: 0 0 100%;
    }

    h1,
    .header-title {
        font-size: 1.5rem;
    }

    .nav-menu ul li a {
        font-size: 0.9rem;
    }
}
